@keyframes linear-double {
  0% {
    -webkit-transform: translateX(-56%);
    transform: translateX(-56%)
  }

  to {
    -webkit-transform: translateX(56%);
    transform: translateX(56%)
  }
}
@keyframes Bounce {
  0%,to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
  }
  50% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
  }
}
@keyframes BounceUp {
  25% {
    transform: translateY(-3px)
  }
  50% {
    transform: translateY(0)
  }
  75% {
    transform: translateY(3px)
  }
  100% {
    transform: translateY(0)
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.fade-fast-enter-active, .fade-fast-leave-active {
  transition: opacity .2s linear;
}
.fade-fast-enter, .fade-fast-leave-to {
  opacity: 0;
}

@keyframes fadeInOut {
  0%{opacity:0}
  25%{opacity:.25}
  to{opacity:1}
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.fade-fast-enter-active, .fade-fast-leave-active {
  transition: opacity .2s linear;
}
.fade-fast-enter, .fade-fast-leave-to {
  opacity: 0;
}
