@import "mixins";
@import "var";

@include b(tooltip) {
  &:focus:not(.focusing), &:focus:hover {
    outline-width: 0;
  }
  @include e(popper) {
    position: absolute;
    border-radius: 10px;
    z-index: $--index-popper;
    min-width: 10px;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    padding: 6px 12px;
    text-transform: none;
    width: auto;
    pointer-events: none;
    .popper__arrow,
    .popper__arrow::after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }

    .popper__arrow {
      //border-width: $--tooltip-arrow-size;
      border-width: 9px;
    }

    .popper__arrow::after {
      content: " ";
      border-width: 8px;
    }

    &[x-placement^="top"] {
      margin-bottom: 18px;
    }

    &[x-placement^="top"] .popper__arrow {
      bottom: -9px;
      border-top-color: $--color-text-primary-2;
      border-bottom-width: 0;

      &::after {
        bottom: 1px;
        margin-left: -8px;
        border-top-color: $--color-text-primary-2;
        border-bottom-width: 0;
      }
    }

    &[x-placement^="bottom"] {
      margin-top: 18px;
    }

    &[x-placement^="bottom"] .popper__arrow {
      top: -9px;
      border-top-width: 0;
      border-bottom-color: $--color-text-primary-2;

      &::after {
        top: 1px;
        margin-left: -5px;
        border-top-width: 0;
        border-bottom-color: $--color-text-primary-2;
      }
    }

    &[x-placement^="right"] {
      margin-left: 18px;
    }

    &[x-placement^="right"] .popper__arrow {
      left: -9px;
      border-right-color: $--color-text-primary-2;
      border-left-width: 0;

      &::after {
        bottom: -8px;
        left: 1px;
        border-right-color: $--color-text-primary-2;
        border-left-width: 0;
      }
    }

    &[x-placement^="left"] {
      margin-right: 18px;
    }

    &[x-placement^="left"] .popper__arrow {
      right: -9px;
      border-right-width: 0;
      border-left-color: $--color-text-primary-2;

      &::after {
        right: 1px;
        bottom: -8px;
        margin-left: -8px;
        border-right-width: 0;
        border-left-color: $--color-text-primary-2;
      }
    }

    @include when(dark) {
      // background: $--color-text-primary-2;
      background: $--color-text-primary-2;
      color: $--tooltip-color;
    }

    @include when(light) {
      background: $--tooltip-color;
      border: 1px solid $--color-text-primary-2;

      &[x-placement^="top"] .popper__arrow {
        border-top-color: $--color-text-primary-2;
        &::after {
          border-top-color: $--tooltip-color;
        }
      }
      &[x-placement^="bottom"] .popper__arrow {
        border-bottom-color: $--color-text-primary-2;
        &::after {
          border-bottom-color: $--tooltip-color;
        }
      }
      &[x-placement^="left"] .popper__arrow {
        border-left-color: $--color-text-primary-2;
        &::after {
          border-left-color: $--tooltip-color;
        }
      }
      &[x-placement^="right"] .popper__arrow {
        border-right-color: $--color-text-primary-2;
        &::after {
          border-right-color: $--tooltip-color;
        }
      }
    }
  }
}
